body {
	background-image: url('https://i.imgur.com/ZrKtneC.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
	background-size: cover;
}

a:link {
	color:rgb(190, 190, 190);
}
a:visited {
	color:rgb(190, 190, 190);
}

a:hover {
	text-decoration:underline;
	color:rgb(255, 255, 255);
}

a:active {
	text-decoration:underline;
	color:rgb(255, 255, 255);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 20px;
	line-height: 20px; /* Vertically center the text there */
	background-color: #000000;
	color: rgb(190, 190, 190);
	text-align: center;
	font-size: 14px;
}

#titleDiv img {
	margin-left: auto;
	margin-right: auto;
	display: block;
  }



  .navtab {
	  
	border-radius: 10px;
	list-style-type: none;
	margin: 0;
	background-color: rgba(50, 50, 50, 0.5);
  }
  
  .navtab a {
	font-size: 20px;
	text-align: center;
	display: block;
	padding: 0px 16px;
	text-decoration: none;
  }
  
  /* Change the link color on hover */
  .navtab a:hover {
	font-size: 20px;
	border-radius: 10px;
	background-color: rgb(0, 142, 224);
	color: white;
  }

  .active {
	background-color: #555;
	border-radius: 10px;
	color: white;
  }
